{
  "123456789": {
    "zones": [
      { "min": 0, "max": 120 },
      { "min": 130, "max": 145 },
      { "min": 145, "max": 155 },
      { "min": 155, "max": 165 },
      { "min": 165, "max": 220 }
    ]
  }
}

